html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #120f1f;
  display: grid;
  place-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #00000070;
  border-radius: 10px;
  background: #120f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: -3px -3px 7px #221d3b, 3px 3px 5px #00000070;
  padding: 40px 30px;
  
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 100px;
  border: 1px solid #00000070;
  background-color: #121f1f;
  color: black;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  box-shadow: -3px -3px 7px #221d3b, 3px 3px 5px #00000070;
}

button {
  height: 60px;
  background-color: #120f1f;
  border-radius: 3px;
  border: 1px solid #00000070;
  color: #fff;
  font-size: 2rem;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: inset -3px -3px 7px #221d3b, inset 3px 3px 5px #00000070;
}

button:hover {
  background-color: #337cac;
  border-radius: 3px;
  
}

.operator {
  color: #337cac;
  border-radius: 3px;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
  border-radius: 3px;
}

.all-clear:hover {
  background-color: #f17377;
  border-radius: 3px;
}
.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
  border-radius: 3px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  box-shadow: -3px -3px 7px #221d3b, 3px 3px 5px #00000070
  border-radius: 3px;
}
